table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
}

td:first-child {
    font-weight: bold;
}

th:first-child {
    width: 10%;
}

th {
    width: 20%;
}

tbody>tr {
    height: 110px;
}

.dinheiro:before {
    content: "R$ ";
}

td>img {
    width: 100px;
}

.descricao {
    display: flex;
    justify-content: space-between;
}

span.sub {
    font-weight: lighter;
    font-size: 12px;
    font-family: monospace;
}